{% extends 'base.html' %}

{% block mainbody %}
    <p>继承自 'base.html' 文件</p>
    姓名:
    <ul>
    {% for test in data %}
        <li>{{ test.name }}</li>
    {% endfor %}

    get获取单个对象:
        <h1>{{ test1 }}</h1>

    filter获取查询集
        <h2>{{ test2 }}</h2>

    </ul>
{% endblock %}